.formField {
    padding-bottom: 16px;
}

.label {
    display: block;
    margin-bottom: 4px;
}

.input {
    display: block;
    width: 100%;
}

.container {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 40px;
}

.column {
    box-sizing: border-box;
    width: 50%;
    padding: 0 8px;
}

.media {

}

.formButton {
    padding: 4px 8px;
}

.info {
    margin-bottom: 16px;
}

.infoTitle {
    margin-bottom: 0;
    font-size: 16px;
}

.infoText {
    margin-bottom: 16px;
}

.image {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: block;
    margin-bottom: 16px;
}

