.currentPlaylistImage {
    height: 160px;
    width: 160px;
}

.currentPlaylistText {
    font-size: 18px;
    margin: 0;
    color: var(--text);
}

.currentPlaylistArtist {
    font-size: 14px;
    margin: 0 0 16px 0;
}

.currentPlaylistDescription {
    font-size: 14px;
    margin: 0 0 16px 0;
}

.actionBar {
    display: flex;
}

.currentPlaylistWrapper {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.currentPlaylistRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.currentPlaylistColumnImage {
    display: flex;
    flex-direction: column;
    flex: 0 1 12.75em;
}

.currentPlaylistColumnInfo {
    display: flex;
    flex-direction: column;
    flex: 1 1 20em;
    justify-content: center;
}

.playerIconHolder {
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.shareLinkHolder {
    position: relative;
}

@keyframes quick-message {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}

.shareLinkMessage {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    margin-top: 0;
    width: 100px;
    font-size: 11px;
    animation: quick-message 1.2s forwards ease-in-out;
}

.button_link svg {
    width: 20px;
    height: auto;
}

.button {
    border: none;
    background: none;
}

@media screen and (max-width: 600px) {
    .currentPlaylistColumnInfo {
        margin-top: 30px;
    }
}
