.swapTitle {
    font-size: 16px;
}

.swapList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.swapListItem {
    font-size: 14px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #E5E5E5;
}
