.walletIdEntry {
    padding: 16px 0 0 0;
}

.walletInput {
    width: 100%;
    margin-bottom: 8px;
    padding: 6px 4px;
    border: 1px solid var(--border);
}

.selectPlaylist {
    margin-left: auto;
    align-self: flex-start;
    padding: 6px 4px;
    border: 1px solid var(--border);
}

.button_getObjktData {
    padding: 4px 3px;
}

.errorText {
    color: #cd0117;
    font-size: 11px;
}

.subTitle {
    font-size: 16px;
}

.walletRow {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 6px 0;
    border-bottom: 1px solid var(--border);
}

.walletRow_alias {
    font-size: 14px;
}

.walletRow_button {
    font-size: 14px;
}

.walletRow_avatar {
    width: 26px;
    height: auto;
    overflow: hidden;
    border-radius: 13px;
    flex-shrink: 0;
}

.createPlaylist_label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}


.trackRow_avatar {
    width: 26px;
    height: 26px;
    overflow: hidden;
    border-radius: 13px;
    margin: 0 0 0 auto;
    flex-shrink: 0;
}

.objktActionsBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 0 0 0;
    min-height: 36px;
    margin-bottom: 8px;
}

.objktContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.objktImageHolder {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
}

.objktImage {
    max-width: 600px;
    max-height: 600px;
}

.objktMetaRow {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 36px;
}

.objktPriceText {
    margin: 0;
    font-size: 14px;
}

.playPause {
    margin-right: 10px;
}

@media screen and (min-width: 600px) {
    .objktImageHolder {
        width: 50%;
        padding-right: 24px;
        padding-bottom: 24px;
    }

    .objktMetaRow {
        min-height: 36px;
        padding-left: 24px;
        border-left: 1px solid var(--border);
    }

    .walletInput {
        max-width: 320px;
    }

    .walletRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px 0;
        border-bottom: 1px solid var(--border);
    }

    .walletRow_alias {
        margin-left: 16px;
    }

    .walletRow_avatar {
        margin: 0 0 0 auto;
    }

    .button_getObjktData {
        margin-left: 8px;
        padding: 4px 3px;
    }

    .errorText {
        color: #cd0117;
        font-size: 14px;
    }
}
