.radioView {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto 0;
    padding: 40px 40px 140px;
    max-width: 100vw;
}

.headerBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 16px;
}

.navBar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.navBar_link {
    margin-left: auto;
}

.navBar_buttonLink {
    padding: 0;
    border: none;
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    .headerBar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .navBar {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

    .navBar_link {
        margin-left: 24px;
    }
}
