.footerBar {
    margin-top: auto;
    width: 90%;
    max-width: 764px;
    padding-top: 32px;
    padding-bottom: 170px;
}

.footerTitle {
    font-size: 9px;
    font-weight: 700;
}

.footerText {
    font-size: 9px;
    margin-top: 7px;
}

@media screen and (min-width: 600px) {
    .footerBar {
        padding-bottom: 20px;
    }

    .footerTitle {
        font-size: 12px;
        font-weight: 700;
    }

    .footerText {
        font-size: 12px;
    }
}
