.faqItems > div {
  margin-top: 0;
  margin-bottom: 25px;  
}

.faqItems > div > p:first-child, .faqItems strong {
font-family: 'source_code_prosemibold';
}

.faqItems > div > p {
  margin-top: 0;
  margin-bottom: 0;  
}





