@font-face {
  font-family: 'source_code_proregular';
  font-display: block;
  src: url('/fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
       url('/fonts/sourcecodepro-regular-webfont.woff') format('woff'),
       url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_code_prosemibold';
  font-display: block;
  src: url('/fonts/sourcecodepro-semibold-webfont.woff2') format('woff2'),
       url('/fonts/sourcecodepro-semibold-webfont.woff') format('woff'),
       url('/fonts/SourceCodePro-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
}

body, button, input, textarea {
  font-family: "source_code_proregular", sans-serif;
}

button {
  background-color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 2px #000000 solid;
  border-bottom: 2px #000000 solid;
  padding: 1px 4px;
  cursor: pointer;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea {
  padding: 6px 4px;
  border: 1px solid #E5E5E5;
  margin-bottom: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover, a:visited, a:active {
  color: #000;
  text-decoration: underline;
}
