html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', "Courier New", Courier, monospace;
  font-weight: 400;
}

button, input, textarea {
  font-family: 'Source Code Pro', "Courier New", Courier, monospace;
  font-weight: 400;
}

button {
  background-color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 2px #000000 solid;
  border-bottom: 2px #000000 solid;
  padding: 1px 4px;
  cursor: pointer;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea {
  padding: 6px 4px;
  border: 1px solid #E5E5E5;
  margin-bottom: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover, a:visited, a:active {
  color: #000;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 600;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #000;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #000, 0 0 5px #000;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #000;
  border-left-color: #000;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

