.radioPlayerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100vw - 80px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--white);
    padding: 16px 40px;
    z-index: 1;
    box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.1);
}

.currentPlaylistImageHolder {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
    flex-shrink: 0;
    margin-right: 24px;
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.currentPlaylistImage {
    max-height: 60px;
    max-width: 60px;
}

.button {
    border: none;
    background: none;
}

.controlsHolder {
    display: flex;
    align-content: center;
    width: 100%;
}

.playerIconHolder {
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.shareLinkHolder {
    position: relative;
}

@keyframes quick-message {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}

.shareLinkMessage {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    margin-top: 0;
    width: 100px;
    font-size: 11px;
    animation: quick-message 1.2s forwards ease-in-out;
}

.loadingIconHolder {
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.playerIconHolder svg {
    fill: currentColor;
}

.button_link {
    margin-left: 8px;
}

.button_play svg {
    width: 17px;
    height: auto;
}

.button_next svg {
    width: 20px;
    height: auto;
}

.button_prev svg {
    width: 20px;
    height: auto;
}

.button_link svg {
    width: 20px;
    height: auto;
}

.button_pause svg {
    width: 18px;
    height: auto;
}

.button_mute svg {
    width: 24px;
    height: auto;
}

.button_unmute svg {
    width: 24px;
    height: auto;
}

.icon_loading svg {
    width: 18px;
    height: auto;
}

.controlsLayout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 16px;
    width: 100vw;
}

.playerBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 8px 0;
    margin-left: -5px;
}

.runningTime {
    padding-left: 16px;
    font-size: 11px;
    white-space: nowrap;
}

.scrubberBar {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.currentTrack {
    padding: 0 12px 0 0;
    margin: 0;
    font-size: 14px;
}

.trackMetaRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 0 0 0;
    min-height: 36px;
    margin-bottom: 8px;
}

.button_nextTrack {
    margin-left: 8px;
    margin-right: 8px;
}

.errorText {
    color: #cd0117;
    font-size: 11px;
}

input[type=range].radioRange {
    width: 100%;
    margin: 10.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range].radioRange:focus {
    outline: none;
}

input[type=range].radioRange::-webkit-slider-runnable-track {
    background: var(--black);
    border: 0;
    border-radius: 1px;
    width: 100%;
    height: 2px;
    cursor: pointer;
}

input[type=range].radioRange::-webkit-slider-thumb {
    margin-top: -10.5px;
    width: 5px;
    height: 23px;
    background: var(--black);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

input[type=range].radioRange:focus::-webkit-slider-runnable-track {
    background: var(--black);
}

input[type=range].radioRange::-moz-range-track {
    background: var(--black);
    border: 0;
    border-radius: 1px;
    width: 100%;
    height: 2px;
    cursor: pointer;
}

input[type=range].radioRange::-moz-range-thumb {
    width: 5px;
    height: 23px;
    background: var(--black);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

input[type=range].radioRange::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 12.5px 0;
    color: transparent;
    width: 100%;
    height: 2px;
    cursor: pointer;
}

input[type=range].radioRange::-ms-fill-lower {
    background: var(--black);
    border: 0;
    border-radius: 2px;
}

input[type=range].radioRange::-ms-fill-upper {
    background: var(--black);
    border: 0;
    border-radius: 2px;
}

input[type=range].radioRange::-ms-thumb {
    width: 5px;
    height: 23px;
    background: var(--black);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

input[type=range].radioRange:focus::-ms-fill-lower {
    background: var(--black);
}

input[type=range].radioRange:focus::-ms-fill-upper {
    background: var(--black);
}

@supports (-ms-ime-align:auto) {
    input[type=range].radioRange {
        margin: 0;
    }
}

.volumeControl {
    display: none;
}

.trackRow_text {
    display: block;
    font-size: 11px;
    margin: 0 8px 0 0;
    line-height: 1.2;
}

.trackRow_link {
    color: var(--text);
    text-decoration: none;
    font-weight: 700;
}

.trackRow_link:active, .trackRow_link:focus, .trackRow_link:visited {
    color: var(--text);
    text-decoration: underline;
}

.priceData {
    margin-right: 16px;
    padding-bottom: 13px;
}

.priceText {
    margin: 0 0 auto 0;
    font-size: 11px;
}

.trackActionsBar {
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.darkModeButtonHolder {
    margin-left: auto;
}

@media screen and (min-width: 600px) {

}
